@page
@model LearningRazor.Pages.AIvsTemplate.IndexModel


@section Scripts{

    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

<a class=btn btn-primary btn-lg active" type="button" asp-page="/AIvsTemplate/TemplateBetter" aria-pressed="true" role="button">Template Better</a>
<a class=btn btn-primary btn-lg active" type="button" asp-page="/AIvsTemplate/Index" aria-pressed="true" role="button">All Result</a>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Docguid</th>
            <th scope="col">AICanonicalDiffrence</th>
            <th scope="col">OrginalCanonicalDiffrence</th>
            <th scope="col">Result</th>

        </tr>
    </thead>
    <tbody>
        
            @foreach (var res in Model.Data)
            {
            <tr>

                <td>@res.Docguid</td>
                <td>@res.AICanonicalDiffrence</td>
                <td>@res.OrginalCanonicalDiffrence</td>

                @if (res.OrginalCanonicalDiffrence.Length == 0 && res.AICanonicalDiffrence.Length == 0)
                {
                    <td>Equal</td>
                }
                else if (res.OrginalCanonicalDiffrence.Length > 0 && res.AICanonicalDiffrence.Length == 0)
                {
                    <td>Template has better extraction.</td>
                }
                else if (res.OrginalCanonicalDiffrence.Length == 0 && res.AICanonicalDiffrence.Length > 0)
                {
                    <td>Jarvis has better extraction.</td>
                }
                else
                {
                    <td>Not Equal</td>
                }
            </tr>
            }


        </tbody>
</table>

<form method="post">
    <input type="submit" value="Export" asp-page-handler="Export" />

</form>