@page
@model LearningRazor.Pages.AIvsTemplate.TemplateBetterModel
@{ }

@section Scripts{

    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


    <script>$(document).ready(function () {
            $('#myTable').DataTable();
            });
    </script>
}

<a class=btn btn-primary btn-lg active" type="button" asp-page="/AIvsTemplate/JarvisBetter" aria-pressed="true" role="button">Jarvis Better</a>
<a class=btn btn-primary btn-lg active" type="button" asp-page="/AIvsTemplate/Index" aria-pressed="true" role="button">All Result</a>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Docguid</th>
            <th scope="col">OrginalCanonicalDiffrence</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var res in Model.Data)
        {
            <tr>
                <td>@res.Docguid</td>
                <td>@res.OrginalCanonicalDiffrence</td>
            </tr>
        }

    </tbody>
</table>

<form method="post">
    <input type="submit" value="Export" asp-page-handler="Export" />
</form>